
@{
   // Layout = null;
    ViewBag.Title = "Datenschutz";
}


<header class="main-header">
<div class="container">
    <h1 class="page-title">GmsPPS Datenschutz </h1>
   
</div>
</header>
<section id="contact-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="right-line">Ihre Daten</h3>
            </div>
            <div class="col-md-7">
                <h3 class="no-margin">GmsPPS nimmt den Schutz von persönlichen Daten ernst</h3>
                <p>Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben. Somit ist größtmögliche Sicherheit gewährleistet. GmsPPS ist berechtigt die Datenschutzbestimmungen jederzeit zu ändern. Nutzer werden über Änderungen mit einer Frist von zwei Wochen im Vorfeld per Email informiert und können ihr Einverständnis innerhalb dieser Frist verweigern. Die nachfolgende Erklärung gibt einen Überblick darüber, wie dieser Schutz gewährleistet wird und welche Arten von Daten zu welchem Zweck erhoben werden.</p>
                <h3 class="no-margin">Daten von Nutzern</h3>
                <p>
                    Um alle Funktionen von GmsPPS nutzen zu können, ist eine Registrierung als Nutzer notwendig.
                    Hierbei werden persönliche Daten erfasst und ausgewertet, um ein persönliches GmsPPS-Profil zu erstellen.
                    Ohne die Erfassung aller relevanten Daten, kann GmsPPS nur eingeschränkt genutzt werden.
                    Erfasste Daten sind u.a.: Name, Vorname, Adress- und Kontaktdaten, Anzahl der Freunde und Bekannte, Geburtstag etc.
                    Die eingegebenen Daten können unter Eingabe von Mitgliedsname und Passwort jederzeit eingesehen,
                    geändert oder ganz oder teilweise gelöscht oder verändert werden.
                    Anonymisierte Daten können im Nutzerprofil von Dritten eingesehen werden.
                    GmsPPS verwendet Verschlüsselungsalgorithmen und hält sich an aktuelle Standards der Datenverschlüsselung,
                    kann jedoch keine Garantie für die Datensicherheit abgeben und Nutzer können keinen Schadensersatzanspruch geltend machen.
                </p>
            </div>
            <div class="col-md-5">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-lightbulb-o"></i> Daten von Besuchern
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>GmsPPS erhebt und speichert automatisch Informationen, die Ihr Browser übermittelt. Dies sind u.a. Browsertyp/ -version, verwendetes Betriebssystem, Referrer URL (die zuvor besuchte Seite), Hostname des zugreifenden Rechners (IP Adresse), Uhrzeit der Serveranfrage. Diese Daten sind für GmsPPS nicht ohne Weiteres bestimmten Personen zuordenbar. Sofern es nicht aus technischen Gründen oder zu Beweiszwecken bei missbräuchlicher oder rechtswidriger Nutzung notwendig ist die Daten vorübergehend zu speichern, werden die Daten nach einer Auswertung gelöscht.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                <i class="fa fa-user"></i> Verwendung von Daten
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Die Besucher- und Nutzerdaten werden für anonyme statistische Auswertungen verwendet.
                                    Nutzerdaten sind notwendig, um die Services von GmsPPS zur Verfügung zu stellen.
                                    Darüber hinaus verwendet GmsPPS die zur Verfügung gestellten Daten zur Verbesserung des Service-Angebotes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed">
                                <i class="fa fa-user"></i> Weitergabe von Daten
                            </a>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Personenbezogene Daten werden von GmsPPS selbst genutzt und nicht an Dritte weitergegeben.
                                    Anonymisierte Daten (z.B. Nutzungsstatistiken) werden genutzt, um zum Beispiel für eigene Zwecke zu werben. Ein Austausch von personenbezogenen Daten findet statt zwischen Geschäftspartnern von auf GmsPPS initiierten Vertragsbeziehungen zur Erbringung und Abwicklung von Dienstleistungen. Personenbezogene Daten werden weiterhin an Dritte weitergegeben bei Nichterfüllung von Verpflichtungen gegenüber GmsPPS an Rechtsanwälte bzw. Inkassounternehmen, zur Verfolgung von Betrugsversuchen, bei Verstößen gegen das Gesetz o.ä.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-md-7">
                <h3 class="no-margin">Google Analytics</h3>
                <p>
                    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. Google Analytics verwendet sog.
                    "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht.
                    Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse)
                    wird an einen Server von Google in den USA übertragen und dort gespeichert.
                    Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten,
                    um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
                    verbundene Dienstleistungen zu erbringen.
                    Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit
                    Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google
                    in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern;
                    wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich
                    nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der
                    zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
                </p>
            </div>
            <div class="col-md-5">
                <h3 class="no-margin">Widerspruchsrecht</h3>
                <p>Nutzer können jederzeit Ihr Einverständnis zur Speicherung aller oder Teile personbezogener Daten schriftlich (E-Mail, Fax, Post) oder im Loginbereich widerrufen. Hierdurch können jedoch möglicherweise einzelne oder alle Services von GmsPPS nicht mehr erbracht werden. Die Kontaktdaten sind dem Impressum zu entnehmen.</p>
            </div>



            <div class="col-md-5">
                <h3 class="no-margin">Einwilligungserklärungen</h3>
                <p>Ich bestätige, dass mir die Datenschutzbestimmungen von GmsPPS (haftungsbeschränkt) als Betreiberin der GmsPPS-Plattform bekannt sind und ich diese akzeptiere. Ich willige in die Verarbeitung und Nutzung meiner Daten nach den oben beschriebenen Grundsätzen und unter Einhaltung der gesetzlichen Bestimmungen, insb. der Datenschutzgesetze ein. Ich willige ein, dass mich GmsPPS regelmäßig per E-Mail über Neuerungen und Angebote in dem von mir festgelegten Umfang informiert. Meine E-Mail-Adresse wird nicht an Dritte weitergegeben. Von diesem Service kann ich mich jederzeit ganz oder teilweise schriftlich oder im Login-Bereich wieder abmelden.</p>
            </div>




        </div> <!-- row -->

    </div>
</section>



