

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title> demo</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/Prettify/prettify.css" rel="stylesheet">
    <link href="/Content/crayon.min.css" rel="stylesheet">
    
    <script src="/Scripts/modernizr-2.6.2.js"></script>
   
</head>
<body onload="prettyPrint()" bgcolor="white">


    <div class="container body-content">




        <div class="row">
            <div class="col-md-8">
                <h2>Demo code</h2>
                <pre class="prettyprint">
 static async Task MainAsync()
        {
            //coment
            try
            {
                var hubConnection = new HubConnection("http://gmspps.azurewebsites.net/signalr/");                
                IHubProxy hubProxy = hubConnection.CreateHubProxy("providerhub");
                hubProxy.On<float, float, string, int>("addPin", (LAT, LON, Name, Status) =>
                {
                    string ESID = "0";
                    Console.WriteLine("Incoming data: {0} {1} von {2} Status {3}", LAT, LON, Name, Status);
                    User_Mission mymission = User_Einsätze.Where(x => x.Name == Name).FirstOrDefault();
                    if (mymission != null)
                    {
                        // bei einem Einsatz dabei
                        ESID = mymission.CostumMissionID;
                        if(Status == 1 || Status == 2 || Status == 6)
                        {
                            //Vom Einsatz entfernen
                            User_Einsätze.Remove(mymission);
                        }
                    }
                FMS10GMT(Name, ESID, Status.ToString(), LAT.ToString(), LON.ToString());
                });
                await hubConnection.Start();
                hubProxy.Invoke("Subscribe", ProviderName).Wait();
            }
            catch (Exception ex)
            {
            }
        }
</pre>
                <p>This section shows how you can call ASP.NET Web API to get the user details.</p>

            </div>
            <div class="col-md-4">


            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <pre class="prettyprint linenums languague-css crayon-code crayon-theme-vs2012">
// Some source code
class Foo {
    public int Bar { get; set; }
}
</pre>

                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <div>
                    <h4 class="sample-header">application/json, text/json</h4>
                    <div class="sample-content">
                        <span><b>Sample:</b></span>
<pre class="prettyprint crayon-code crayon-theme-vs2012 crayon-syntax crayon-wrapped">{
  defaultUrl: "sample string 1",
  "costumMissionID": "sample string 1",
  "url": "sample string 2",
  "title": "sample string 3",
  "text": "sample string 4",
  "positions": [
    {
      "lat": 1.1,
      "lon": 2.1
    },
    {
      "lat": 1.1,
      "lon": 2.1
    }
  ]
}
</pre>
                    </div>


                    <h4 class="sample-header">application/x-www-form-urlencoded</h4>
                    <div class="sample-content">
                        <span><b>Sample:</b></span>
                        <div class="warning-message-container">
                            <p>Failed to generate the sample for media type 'application/x-www-form-urlencoded'. Cannot use formatter 'JQueryMvcFormUrlEncodedFormatter' to write type 'GPMS_MissionModel'.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="sample-header">application/x-www-form-urlencoded</h4>
        <div class="sample-content">
            <span><b>Sample:</b></span>
            <div class="warning-message-container">
                <p>Failed to generate the sample for media type 'application/x-www-form-urlencoded'. Cannot use formatter 'JQueryMvcFormUrlEncodedFormatter' to write type 'GPMS_MissionModel'.</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- /ko -->
    </div>
    <hr>


    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/theme.js"></script>
    <script src="/Scripts/index-slider.js"></script>
    <script src="/Scripts/flexslider.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/easing.js"></script>
    <script src="/Scripts/classie.js"></script>
    <script src="/Scripts/cbpAnimatedHeader.js"></script>
    <script src="/Scripts/Prettify/prettify.js"></script>
    <script src="/Scripts/Prettify/crayon.min.js"></script>

    <script src="/Scripts/knockout-2.3.0.debug.js"></script>
    <script src="/Scripts/knockout.validation.debug.js"></script>
    <script src="/Scripts/sammy-0.7.4.js"></script>
    <script src="/Scripts/app/common.js"></script>
    <script src="/Scripts/app/app.datamodel.js"></script>
    <script src="/Scripts/app/app.viewmodel.js"></script>
    <script src="/Scripts/app/home.viewmodel.js"></script>
    <script src="/Scripts/app/_run.js"></script>

    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Firefox","requestId":"34fea30c725d47e89f9e391fe9942c3f"}
    </script>
    <script type="text/javascript" src="http://localhost:50175/26c7de680fd943e9898b1757e5c53140/browserLink" async="async"></script>
    <!-- End Browser Link -->


</body>
</html>



